
.custom_container{
    
    z-index: 3;
    font-family: robotomono;
    font-size:120%;
    letter-spacing: 2px;
    background-color:transparent;
    display:flex;
    flex-direction: row-reverse;
}
.item{
    padding:2rem 3vw;
}
.item > a {
    text-align: center;
    color:black;
    text-decoration: none;
}
.item>a:hover{
    text-decoration: none;
}